// Color
$font-color: rgb(95, 69, 45) !important;
$hero-gradient: linear-gradient(120deg, rgba(96, 125, 118, 0.122), rgba(71, 79, 95, 0.238));
$header-background: rgba(213, 168, 117, 0.89) !important;
$navigator-bg: #daad6a !important;
$icon-color: #ca974b !important;